:root {
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-family: "Open Sans", sans-serif;
    background: var(--Violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    /* width: 90rem; */
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 90rem;
    height: 90%;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
}

.title {
    
}